body {
  font-family: sans-serif;
  background: #fdcb9e;
  color: white;
  text-align: center;
  font-size: 1vw;
  margin-bottom: 5%;
}

h1 {
  font-size: 3vw;
  color: #d63447;
}

.container {
  margin: 0px 3em 0px 3em;
}

.sound {
  text-align: center;
  border: 5px solid #ccb03b;
  border-radius: 20px;
  background: #3f3f44;
  margin: 10px;
  display: inline-block;
  width: 20%;
}

img {
  width: 20%;
  height: auto;
}

#stopButton img {
  transform: scaleX(4);
}

.linh {
    border-radius: 80%;
    width: 30%;
    margin: 3% 0 5%;
}